<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Puppy Name: <%= @new_puppy.name %>
      Puppy Breed: <%= @new_puppy.breed %>
      Puppy Age: <%= @new_puppy.age %>
    </p>
  </body>
</html>
